.registerSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputDesign {
  border: 1px solid black;
  width: 50vw;
}

.registerTitleDesign {
  border-bottom: 2px solid black;
}

.submitDesign {
}
