.footerDesign {
  border: 1px solid black;
  border-radius: 0.5em;
  color: white;
  background-color: rgb(56, 56, 56);
  position: fixed;
  bottom: 0;
  cursor: pointer;
  padding: 1em;
  margin: 0 0 1em 0;
}
